@import url(http://fonts.googleapis.com/css?family=Coming+Soon);
h1 {
	text-align: left;
	font-family: 'Coming Soon';

}

body {
	font-size: 16px;
	background-color:#c3e5c0;
	
}
header {
	background-color: #ffffff;

}

h2{ 
	font-family: 'Coming Soon';
	border-bottom: 4px solid black;

}
h3{
	font-size: 25px;
}

nav{	
	background-color: #ffffff; 
	display: inline-block;
	float: right;
	font-family: 'Coming Soon';



}
nav ul{ 
	float: left;
	

	

}
nav li{
	display: inline-block;
	margin:1.8em;



}
#hero{
	width: 700px;
	margin: 0 auto;
}
#main{
	width: 250px;
}

.column{
	width: 250px;
	float: left;

}
.what:{
	width: 250px;
	float: left;
} 
footer{
	clear: both;
	font-family: 'Coming Soon';
}
footer li{
	display: inline-block;
	margin: 1.8em;
}
footer ul{
		background-color: #ffffff;
		padding: auto;

}