@import url(http://fonts.googleapis.com/css?family=Coming+Soon);
@import url(http://fonts.googleapis.com/css?family=Merriweather);

h1 {
	font-size: 35px;
	text-align: left;
	font-family: 'Coming Soon';
	float: left;

}

body {
	font-size: 16px;
	background-color:#A1C0FF;
	
}
header {
	background-color: #ffffff


}

h2{ 
	font-family: 'Coming Soon';
	border-bottom: 2px solid black;

}
h3{
	font-size: 25px;
}
p{
	font-family: 'Merriweather'
}
nav{	
	font-size: 20px;
	background-color: #ffffff; 
	display: inline-block;
	float: right;
	font-family: 'Coming Soon';

}
nav ul{ display: block;

}
nav li{
	display: inline-block;
	margin: 1.8em;
	text-align: center;
	float: left;
}
#top{
	background-color: #ffffff;
}
#hero{
	width: 700px;
	margin: 0 auto;
}
#main{
	width: 2000px;
	clear: :both;
	display: block;
	margin-left: 250px;

}

.column{
	width: 250px;
	margin: 25px 25px 25px 25px;
	float: left;

}

 
footer{
	float: right;
	clear: both;
	font-family: 'Coming Soon';
}
footer li{
	display: inline-block;
	margin: 1.8em;
}
footer ul{
		float:right;
		background-color: #ffffff;
	

}